<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>
<%- include ../partials/sidebar.ejs %>
<div class="wrapper">


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ubah Kata Sandi</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Beranda</a></li>
              <li class="breadcrumb-item active">Ubah Kata Sandi</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <!-- /.col -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <form class="form-horizontal">
                  <br />
                  <div class="form-group row">
                    <label for="inputOldPassword" class="col-sm-2 col-form-label">Kata Sandi Lama</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputOldPassword" placeholder="Kata Sandi Lama">
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputNewPassword" class="col-sm-2 col-form-label">Kata Sandi Baru</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputNewPassword" placeholder="Kata Sandi Baru" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <label for="inputConfirmPassword" class="col-sm-2 col-form-label">Konfirmasi Kata Sandi</label>
                    <div class="col-sm-10">
                      <input type="password" class="form-control" id="inputConfirmPassword" placeholder="Konfirmasi kata Sandi Baru" >
                    </div>
                  </div>
                  <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-primary">Simpan</button>
                    </div>
                  </div>
                </form>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>

<%- include ../partials/footer.ejs %>
<%- include ../partials/js.ejs %>