<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>
<%- include ../partials/sidebar.ejs %>
<div class="wrapper">


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Ubah Admin Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Beranda</a></li>
              <li class="breadcrumb-item"><a href="/profile">Detail</a></li>
              <li class="breadcrumb-item active">Ubah Admin Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-12">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">

              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                       src="/adminlte/dist/img/AdminLTELogo.png"
                       alt="User profile picture">
                </div>

                <h3 class="profile-username text-center"><%= admin.name %></h3>
                <p class="text-muted text-center"><%= admin.role %></p>
                
              </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="tab-content">

                  <div class="active tab-pane" id="settings">
                    <h3>Ubah Profile</h3>
                    <hr/>
                    <form action="/profile/edit/<%= admin.id %>?_method=PUT" method="post">
                      <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                          <input 
                            name="name"
                            required
                            type="text"
                            class="form-control"
                            id="inputName"
                            placeholder="Name"
                            value="<%= admin.name %>">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <input 
                            name="email"
                            required
                            type="email"
                            class="form-control"
                            id="inputEmail"
                            placeholder="Email"
                            value="<%= admin.email %>">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputGender" class="col-sm-2 col-form-label">Jenis Kelamin</label>
                        <div class="col-sm-10">
                          <select id="gender" name="gender" class="form-control select2" style="width: 100%;" required>
                            <option selected="selected" value="" hidden>Masukan Jenis Kelamin</option>
                            <option value="male"
                                <% if(admin.gender === "male") { %>
                                selected
                                <% } %>
                                >Laki-laki</option>
                            <option value="female"
                                <% if(admin.gender === "female") { %>
                                selected
                                <% } %>
                                >Perempuan</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="inputRole" class="col-sm-2 col-form-label">Akses</label>
                        <div class="col-sm-10">
                          <input 
                            name="role"
                            required
                            type="text"
                            class="form-control"
                            id="inputRole"
                            disabled
                            placeholder="Akses"
                            value="<%= admin.role %>">
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i>
                            Simpan
                          </button>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- /.tab-pane -->
                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>

<%- include ../partials/footer.ejs %>
<%- include ../partials/js.ejs %>