<%- include ../partials/header.ejs %>
<%- include ../partials/navbar.ejs %>
<%- include ../partials/sidebar.ejs %>
<div class="wrapper">


  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1>Detail Admin Profile</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/dashboard">Beranda</a></li>
              <li class="breadcrumb-item active">Detail Admin Profile</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <%- include ../partials/message.ejs %>
        <div class="row">
          <div class="col-md-12">

            <!-- Profile Image -->
            <div class="card card-primary card-outline">

              <div class="card-body box-profile">
                <div class="text-center">
                  <img class="profile-user-img img-fluid img-circle"
                    style="height: 180px; width: 180px;"
                    src="http://localhost:8080/uploads/<%= admin.avatar ? admin.avatar : 'blank.png' %> "
                    alt="<%= admin.name %> picture">
                </div>

                <h3 class="profile-username text-center"><%= admin.name %></h3>
                <p class="text-muted text-center"><%= admin.role %></p>
                
              </div>
              
              <!-- /.card-body -->
            </div>
            <!-- /.card -->

          </div>
        </div>
        <div class="row">
          <!-- /.col -->
          <div class="col-md-12">
            <div class="card">
              <div class="card-body">
                <div class="tab-content">

                  <div class="active tab-pane" id="overview">
                    <h3>Detail Profile</h3>
                    <hr/>
                    <form class="form-horizontal">
                      <div class="form-group row">
                        <label for="spanName" class="col-sm-2 col-form-label">Nama</label>
                        <div class="col-sm-10">
                          <span  id="spanName" >
                            <%= admin.name %>
                          </span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="spanEmail" class="col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-10">
                          <span  id="spanEmail" >
                            <%= admin.email %>
                          </span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="spanPhoneNumber" class="col-sm-2 col-form-label">No Handphone</label>
                        <div class="col-sm-10">
                          <span  id="spanPhoneNumber" >
                            <%= admin.phoneNumber %>
                          </span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="spanGender" class="col-sm-2 col-form-label">Jenis Kelamin</label>
                        <div class="col-sm-10">
                          <span  id="spanGender" >
                            <% if(admin.gender === "female") { %>
                              Perempuan
                            <% } else  if(admin.gender === "male") { %>
                              Laki-laki
                            <% } %>
                          </span>
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="spanRole" class="col-sm-2 col-form-label">Akses</label>
                        <div class="col-sm-10">
                          <span  id="spanRole" >
                            <%= admin.role %>
                          </span>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <div class="offset-sm-2 col-sm-10">
                          <a href="/profile/edit" class="btn btn-primary">
                            <i class="fas fa-pencil-alt"></i>
                            Ubah
                          </a>
                        </div>
                      </div>

                    </form>
                  </div>
                  <!-- /.tab-pane -->

                </div>
                <!-- /.tab-content -->
              </div><!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

</div>

<%- include ../partials/footer.ejs %>
<%- include ../partials/js.ejs %>