<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <!-- <h1</h1> -->
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Beranda</a></li>
              <li class="breadcrumb-item"><a href="/mahasiswa">Proposal Skripsi</a></li>
              <li class="breadcrumb-item active">Ubah</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
            
            <div class="col-12  d-flex align-items-stretch flex-column">
                <div class="card bg-light d-flex flex-fill">
                    
                  <div class="card-body pt-2">
                    <h3>Detail Proposal Skripsi</h3>
                    <hr/>
                    <form class="form-horizontal">

                      <div class="form-group row">
                        <label for="spanstatus" class="col-sm-2 col-form-label">Status Pengajuan</label>
                        <div class="col-sm-10">
                          <span  id="spanstatus" >
                            :
                            <% if(mahasiswa.status === 'pending') { %>
                              <span class="badge badge-warning">
                                Menunggu Persetujuan
                              </span>
                            <% } else if(mahasiswa.status === 'rejected') { %>
                              <span class="badge badge-danger">
                                Ditolak
                              </span>
                            <% } else if(mahasiswa.status === 'accepted') { %>
                              <span class="badge badge-success">
                                Diterima
                              </span>
                            <% } %>
                          </span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="spanajaran" class="col-sm-2 col-form-label">Tahun Ajaran</label>
                        <div class="col-sm-10">
                          <span  id="spanajaran" >
                            : <%= mahasiswa?.ajaran?.start_year ?? '' %> - <%= mahasiswa?.ajaran?.end_year ?? ''%> 
                            
                              <% if(mahasiswa?.ajaran?.semester) { %>
                                ( <%= mahasiswa.ajaran.semester %> )
                              <% } %>
                          </span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="spannama" class="col-sm-2 col-form-label">Nama</label>
                        <div class="col-sm-10">
                          <span  id="spannama" >
                            : <%= mahasiswa.nama %>
                          </span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="spannpm" class="col-sm-2 col-form-label">NPM</label>
                        <div class="col-sm-10">
                          <span  id="spannpm" >
                            : <%= mahasiswa.npm %>
                          </span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="spansemester" class="col-sm-2 col-form-label">Mahasiswa Lanjutan</label>
                        <div class="col-sm-10">
                          <span  id="spansemester" >
                            : <% if(mahasiswa.lanjutan === true ) { %>
                                Ya
                              <% } else { %>
                                Tidak
                              <% }  %>
                          </span>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label for="spansemester" class="col-sm-2 col-form-label">Semester</label>
                        <div class="col-sm-10">
                          <span  id="spansemester" >
                            : <%= mahasiswa.semester %>
                          </span>
                        </div>
                      </div>

                      <div class="form-group row">
                        <label for="spanjudul_skripsi" class="col-sm-2 col-form-label">Judul Skripsi</label>
                        <div class="col-sm-10">
                          <span  id="spanjudul_skripsi" >
                            : <%= mahasiswa.judul_skripsi %>
                          </span>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label for="spantema_skripsi" class="col-sm-2 col-form-label">Tema Skripsi</label>
                        <div class="col-sm-10">
                          <span  id="spantema_skripsi" >
                            : 
                            <% if(mahasiswa.tema_skripsi === 'bidang_aplikasi_desktop') { %>
                              Aplikasi Dekstop
                            <% } else if(mahasiswa.tema_skripsi === 'bidang_aplikasi_web') { %>
                              Aplikasi Web
                            <% } else if(mahasiswa.tema_skripsi === 'bidang_aplikasi_mobile') { %>
                              Aplikasi Mobile
                            <% } else if(mahasiswa.tema_skripsi === 'bidang_data_mining') { %>
                              Data Mining
                            <% } else if(mahasiswa.tema_skripsi === 'bidang_iot') { %>
                              Internet Of Thinks
                            <% } else if(mahasiswa.tema_skripsi === 'bidang_desain_aplikasi') { %>
                              Desain Aplikasi
                            <% } else if(mahasiswa.tema_skripsi === 'bidang_jaringan_komputer') { %>
                              Jaringan Komputer
                            <% } else if(mahasiswa.tema_skripsi === 'bidang_basis_data') { %>
                              Basis Data
                            <% }  %>
                          </span>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label for="spandosen_sebelum" class="col-sm-2 col-form-label">Dosen Pembimbing Sebelumnya </label>
                        <div class="col-sm-10">
                          <span  id="spandosen_sebelum" >
                            : <%= mahasiswa.dosen_sebelum %>
                          </span>
                        </div>
                      </div>
                      
                      <div class="form-group row">
                        <label for="spanRole" class="col-sm-2 col-form-label">Dosen Pembimbing Saat Ini  </label>
                        <div class="col-sm-10">
                          <span  id="spanRole" >
                            : <%= mahasiswa?.dosen?.nama ?? '-' %>
                            
                            <% if(mahasiswa?.dosen?.gelar) { %>
                              , <%= mahasiswa.dosen.gelar %>
                            <% } %>
                          </span>
                        </div>
                      </div>
                      
                    </form>
                  </div>
                
                </div>
              </div>
              
          <div class="col-12">
            <div class="card card-primary">
                <div class="card-header">
                  <h3 class="card-title">Formulir Perubahan</h3>
                </div>
                
                <!-- /.card-header -->
                <!-- form start -->
                <form action="/mahasiswa/edit/<%= mahasiswa._id %>?_method=PUT" method="post">
                  <div class="card-body">
                    <div class="form-group">
                      <label for="npm">Nomor Pokok Mahasiswa</label>
                      <input type="text" class="form-control" id="npm" name="npm"  disabled
                        required
                        value="<%= mahasiswa.npm %>"
                        >
                    </div>

                    <div class="form-group">
                      <label for="nama">Nama Lengkap</label>
                      <input type="text" class="form-control" id="nama" name="nama"  disabled
                        required
                        value="<%= mahasiswa.nama %>"
                        >
                    </div>
                      
                    <div class="form-group">
                      <label for="email">Email</label>
                      <input type="email" class="form-control" id="email" name="email" disabled
                        required
                        value="<%= mahasiswa.email %>"
                        >
                    </div>

                    <div class="form-group">
                      <label for="no_wa">No Whatsapp</label>
                      <input type="number" class="form-control" id="no_wa" name="no_wa" disabled
                        required
                        value="<%= mahasiswa.no_wa %>"
                        >
                    </div>

                  <!-- /.card-body -->
  
                  <div class="card-footer">
                    <a href="/mahasiswa/detail/<%= mahasiswa._id %>" class="btn btn-default">
                      <i class="fas fa-arrow-left"></i>
                        Kembali
                    </a>
                    <button type="submit" class="btn btn-primary float-right">
                      <i class="fas fa-save"></i>
                      Simpan
                    </button>
                  </div>
                </form>
              </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %>
<%- include ../../partials/js.ejs %>