<table id="example1" class="table table-bordered table-hover" style="text-align: justify;">
    <thead>
    <tr>
      <th>No</th>
      <th>Tahun Ajaran</th>
      <th>NPM</th>
      <th>Nama</th>
      <th>No WhatsApp</th>
      <th>Email</th>
      <th>Mahasiswa Lanjutan</th>
      <th>Semester</th>
      <th>Judul Skripsi</th>
      <th>Tema Skripsi</th>
      <th>Dosen Pembimbing 1 Sebelumnya</th>
      <th>Dosen Pembimbing 2 Sebelumnya</th>
      <th>Dosen Pembimbing 1</th>
      <th>Dosen Pembimbing 2</th>
      <th>Mata Kuliah Lain</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < mahasiswa.length; i++){ %>
        <tr>
          <td><%= i + 1 %></td>
          <td>
              <%= mahasiswa[i]?.ajaran?.start_year ?? '' %> - <%= mahasiswa[i]?.ajaran?.end_year ?? ''%> 
                            
              <% if(mahasiswa[i]?.ajaran?.semester) { %>
                ( <%= mahasiswa[i].ajaran.semester %> )
              <% } %>
          </td>
          <td><%= mahasiswa[i].npm %> </td>
          <td><%= mahasiswa[i].nama %> </td>
          <td><%= mahasiswa[i].no_wa %> </td>
          <td><%= mahasiswa[i].email %> </td>
          <td>
            <% if(mahasiswa[i].lanjutan === true) { %>
              Ya
            <% } else  { %>
              Tidak
            <% }  %>
          </td>
          <td><%= mahasiswa[i].semester %> </td>
          <td>
            <%= mahasiswa[i].judul_skripsi %>
          </td>
          <td>
            <% if(mahasiswa[i].tema_skripsi === 'bidang_aplikasi_desktop') { %>
              Aplikasi Dekstop
            <% } else if(mahasiswa[i].tema_skripsi === 'bidang_aplikasi_web') { %>
              Aplikasi Web
            <% } else if(mahasiswa[i].tema_skripsi === 'bidang_aplikasi_mobile') { %>
              Aplikasi Mobile
            <% } else if(mahasiswa[i].tema_skripsi === 'bidang_data_mining') { %>
              Data Mining
            <% } else if(mahasiswa[i].tema_skripsi === 'bidang_iot') { %>
              Internet Of Thinks
            <% } else if(mahasiswa[i].tema_skripsi === 'bidang_desain_aplikasi') { %>
              Desain Aplikasi
            <% } else if(mahasiswa[i].tema_skripsi === 'bidang_jaringan_komputer') { %>
              Jaringan Komputer
            <% } else if(mahasiswa[i].tema_skripsi === 'bidang_basis_data') { %>
              Basis Data
            <% }  %>
          </td>
          <td>
            <% if(mahasiswa[i]?.dosen_sebelum) { %>
              <%= mahasiswa[i].dosen_sebelum %>
            <% } else { %>
               -
            <% } %>
          </td>
          <td>
            <% if(mahasiswa[i]?.dosen_sebelum2) { %>
              <%= mahasiswa[i].dosen_sebelum2 %>
            <% } else { %>
               -
            <% } %>
          </td>
          <td>
            <% if(mahasiswa[i]?.dosen?.nama) { %>
              <%= mahasiswa[i].dosen.nama %>, <%= mahasiswa[i].dosen.gelar %>
            <% } else { %>
              -
            <% } %>
          </td>
          <td>
            <% if(mahasiswa[i]?.dosen2?.nama) { %>
              <%= mahasiswa[i].dosen2.nama %>, <%= mahasiswa[i].dosen2.gelar %>
            <% } else { %>
              -
            <% } %>
            
          </td>
          <td><%= mahasiswa[i].mata_kuliah_lain %> </td>
          <td>
            <% if(mahasiswa[i].status === 'pending') { %>
              <span class="badge badge-warning">
                Menunggu Persetujuan
              </span>
            <% } else if(mahasiswa[i].status === 'rejected') { %>
              <span class="badge badge-danger">
                Ditolak
              </span>
            <% } else if(mahasiswa[i].status === 'accepted') { %>
              <span class="badge badge-success">
                Diterima
              </span>
            <% } %>
          </td>
          <td>
            <% if(mahasiswa[i].status === 'pending') { %>
              <form action="/mahasiswa/rejected/<%= mahasiswa[i]._id %>?_method=PUT" method="post" 
                style="display: inline-block; margin: 2px;">
                <button class="btn btn-danger btn-sm" title="Tolak"
                  <% if(admin.role === 'guest') { %>
                    disabled
                  <% } %> >
                  <i class="fas fa-times-circle"></i>
                    Tolak
                </button>
              </form>
              
              <form action="/mahasiswa/accepted/<%= mahasiswa[i]._id %>?_method=PUT" method="post" 
                style="display: inline-block; margin: 2px;">
                <button class="btn btn-info btn-sm" title="Terima"
                  <% if(admin.role === 'guest') { %>
                    disabled
                  <% } %> >
                  <i class="fas fa-check-circle"></i>
                    Terima
                </button>
              </form>
            <% } %>
              <a href="/mahasiswa/detail/<%= mahasiswa[i]._id %>" class="btn btn-primary btn-sm"  title="Detail"
                style="margin: 2px;">
                <i class="fas fa-search"></i>
                 Detail
              </a>
          </td>
        </tr>
      <% } %>

    </tbody>
    </tfoot>
  </table>