<%- include ../../partials/header.ejs %>
<%- include ../../partials/navbar.ejs %>
<%- include ../../partials/sidebar.ejs %>

<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <div class="container-fluid">
        <%- include ../../partials/message.ejs %>
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1> Proposal Skripsi</h1>
          </div>
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="/">Beranda</a></li>
              <li class="breadcrumb-item active"> Proposal Skripsi</li>
            </ol>
          </div>
        </div>
      </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">

              <div class="card-header">
                <h3 class="card-title">
                  
                  <div class="form-group" style="display: inline-block; margin: 0px;">
                      <label for="ajaran_id">Tahun Ajaran</label>
                      <select id="ajaran_id" name="ajaran_id" class="form-control select2" style="width: 100%;" required>
                          <option selected="selected" value="all" >Semua Tahun Ajaran</option>
                          <% for(let j = 0; j < ajaran.length; j++){ %>
                            <option value="<%= ajaran[j]._id %>">
                              <% if(ajaran[j].semester) { %>
                                <%= ajaran[j].start_year %> - <%= ajaran[j].end_year %> ( <%= ajaran[j].semester %> )
                              <% } %>
                            </option>
                          <% } %>
                      </select>
                  </div>&ensp;
                  <button onclick="myFilter()" class="btn btn-primary" 
                    style="display: inline-block; margin: 0px;">
                      <i class="nav-icon fas fa-filter"></i>&ensp;
                      Filter 
                  </button>
                </h3>
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <%- include ./table.ejs %>
              </div>
              <!-- /.card-body -->
            </div>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>

<%- include ../../partials/footer.ejs %>

<script>
  function myFilter() {
    var x = document.getElementById("ajaran_id");
    var i = x.selectedIndex;
    window.location.href = `/mahasiswa?ajaran_id=${x.options[i].value}`;
  }
</script>

<%- include ../../partials/js.ejs %>