<table id="example2" class="table table-bordered table-hover" style="text-align: justify;">
    <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Email</th>
      <th>Akses</th>
      <th>Jenis Kelamin</th>
      <th>No Hp</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < user.length; i++){ %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= user[i].name %> </td>
          <td><%= user[i].email %> </td>
          <td>
            <% if(user[i].role == 'admin') { %>
              Admin
            <% } else if(user[i].role == 'super_admin') { %>
              Super Admin
            <% } else if(user[i].role == 'guest') { %>
              Tamu
            <% }  %>
          </td>
          <td>
            <% if(user[i].gender == 'male') { %>
              Laki-laki
            <% } else if(user[i].gender == 'female') { %>
              Perempuan
            <% } %>
          </td>
          <td><%= user[i].phoneNumber %> </td>
          <td>
            <% if(user[i].status === 'Y') { %>
              <span class="badge badge-success">
                Aktif
              </span>
            <% } else { %>
              <span class="badge badge-danger">
                Tidak aktif
              </span>
            <% } %>
          </td>
          <td>
            <form action="/user/status/<%= user[i]._id %>?_method=PUT" method="post" 
              style="display: inline-block; margin: 2px;">
              <button class="btn btn-primary btn-sm" title="Hidupkan / Matikan" type="submit"
                <% if(admin.role != 'super_admin' || admin.id == user[i]._id)  { %>
                  disabled
                <% } %> >
                <% if(user[i].status === 'Y') { %>
                  <i class="fas fa-user-minus"></i>
                    Matikan
                <% } else { %>
                  <i class="fas fa-user-check"></i>
                    Hidupkan
                <% } %>
              </button>
            </form>

            <% if(admin.id == user[i]._id) { %>
              <a href="/profile%>" class="btn btn-info btn-sm"  title="Ubah" style="margin: 2px;">
                <i class="fas fa-pencil-alt"></i>
                Ubah
              </a>
            <% } else { %> 
              <a href="/user/edit/<%= user[i]._id %>" class="btn btn-info btn-sm"  title="Ubah" style="margin: 2px;">
                <i class="fas fa-pencil-alt"></i>
                Ubah
              </a>
              <% } %>
            <form action="/user/delete/<%= user[i]._id %>?_method=DELETE" method="post" style="display: inline-block; margin: 2px;">
              <button class="btn btn-danger btn-sm" title="Hapus" type="submit"
                <% if(admin.role != 'super_admin' || admin.id == user[i]._id)  { %>
                  disabled
                <% } %> >
                <i class="fas fa-trash"></i>
                Hapus
              </button>
            </form>
          </td>
        </tr>
        
      <% } %>

    </tbody>
    </tfoot>
  </table>