<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No</th>
      <th>Nama</th>
      <th>Email</th>
      <th>No Wa</th>
      <th>Pendidikan</th>
      <th>Jumlah Bimbingan</th>
      <th>Status</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < dosen.length; i++){ %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= dosen[i].nama %>, <%= dosen[i].gelar %> </td>
          <td><%= dosen[i].email %> </td>
          <td><%= dosen[i].no_wa %> </td>
          <td>
            <% if(dosen[i].pendidikan == 0.5) { %>
              S2
            <% } else if(dosen[i].pendidikan == 1) { %>
              S3
            <% } %>
          </td>
          <td>
            <% if(dosen[i].jumlah == 0) { %>
              Sangat Banyak
            <% } else if(dosen[i].jumlah == 0.25) { %>
              Banyak
            <% } else if(dosen[i].jumlah == 0.5) { %>
              Cukup
            <% } else if(dosen[i].jumlah == 0.75) { %>
              Sedikit
            <% } else if(dosen[i].jumlah == 1) { %>
              Sangat Sedikit
            <% } %>
          </td>
          <td>
            <% if(dosen[i].status === 'Y') { %>
              <span class="badge badge-success">
                Aktif
              </span>
            <% } else { %>
              <span class="badge badge-danger">
                Tidak aktif
              </span>
            <% } %>
          </td>
          <td>
              <button class="btn btn-primary btn-sm" title="Hidupkan / Matikan"
                type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-active-inactive">
                <% if(dosen[i].status === 'Y') { %>
                  <i class="fas fa-user-minus"></i>
                    Matikan
                <% } else { %>
                  <i class="fas fa-user-check"></i>
                    Hidupkan
                <% } %>
              </button>

              <a href="/dosen/edit/<%= dosen[i]._id %>" class="btn btn-info btn-sm"  title="Ubah">
                <i class="fas fa-pencil-alt"></i>
                Ubah
              </a>

              <button class="btn btn-danger btn-sm" title="Hapus" type="button" class="btn btn-default" data-toggle="modal" data-target="#modal-hapus">
                <i class="fas fa-trash"></i>
                Hapus
              </button>
          </td>
        </tr>
        
        <!-- dialog konfirmasi active / inactive -->
        <div class="modal fade" id="modal-active-inactive">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Konfirmasi</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Apakah anda yakin akan
                <% if(dosen[i].status === 'Y') { %>
                    <b>menonaktifkan</b> dosen tersebut ? <br/>
                    Maka dosen tersebut akan tidak masuk dalam daftar calon dosen pembimbing skripsi.
                <% } else { %>
                  <b>mengaktifkan</b> dosen tersebut ? <br/>
                  Maka dosen tersebut akan masuk dalam daftar calon dosen pembimbing skripsi.
                <% } %>
               </p>
              </div>
              <div class="modal-footer justify-content-between">

                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <i class="fas fa-arrow-left"></i>
                  Batal
                </button>
                
                <form action="/dosen/status/<%= dosen[i]._id %>?_method=PUT" method="post">
                  <button type="submit" class="btn btn-primary">
                    <% if(dosen[i].status === 'Y') { %>
                      <i class="fas fa-user-minus"></i>
                        Matikan
                    <% } else { %>
                      <i class="fas fa-user-check"></i>
                        Hidupkan
                    <% } %>
                  </button>
                </form>
                
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

        <!-- dialog konfirmasi Delete -->
        <div class="modal fade" id="modal-hapus">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Konfirmasi Hapus Data</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Apakah anda yakin akan menghapus data tersebut ?</p>
              </div>
              <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <i class="fas fa-arrow-left"></i>
                  Batal
                </button>
                
                <form action="/dosen/delete/<%= dosen[i]._id %>?_method=DELETE" method="post">
                  <button type="submit" class="btn btn-danger">
                    <i class="fas fa-trash"></i>
                    Hapus
                  </button>
                </form>
                
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        
      <% } %>

    </tbody>
    </tfoot>
  </table>