<table id="example2" class="table table-bordered table-hover">
    <thead>
    <tr>
      <th>No</th>
      <th>Tahun Ajaran</th>
      <th>Semester</th>
      <th>Periode Pengajuan</th>
      <th>Aksi</th>
    </tr>
    </thead>
    <tbody>
      <% for(let i = 0; i < ajaran.length; i++){ %>
        <tr>
          <td><%= i + 1 %></td>
          <td><%= ajaran[i].start_year %> - <%= ajaran[i].end_year %> </td>
          <td><%= ajaran[i].semester %> </td>
          <td><%= ajaran[i].start_at %> s/d <%= ajaran[i].end_at %> </td>
          <td>
            <form action="/ajaran/delete/<%= ajaran[i]._id %>?_method=DELETE" method="POST">
              <a href="/ajaran/edit/<%= ajaran[i]._id %>" class="btn btn-info btn-sm">
                <i class="fas fa-pencil-alt"></i>
                Ubah
              </a>
              <button class="btn btn-danger btn-sm">
                <i class="fas fa-trash"></i>
                Hapus
              </button>
            </form>
          </td>
        </tr>
      <% } %>

    </tbody>
    </tfoot>
  </table>